@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  color: rgb(244, 244, 244);
  box-sizing: border-box;
  object-fit: cover !important;
}
body {
  background-color: #101010;
  overflow-x: hidden;
}
/* max width: 1000px */
/*px-5 py-[6px]*/
/* gap 2 */
/* icons 6  */
/* nav hieght 16 */
/* page padding 6 */
:root {
  --bg-2: #121212;
  --bg-3: #161616;
  --light-bg: #202020;
  --border-color: #202020;
  --border-color-2: #373737;
  --dark-text: #c0c0c0;
  --white-bg: #999999;
  --text-color: rgb(255, 255, 255);
  --placeholder-text: #404040;
  --light-hover: #171717;
  --wrapper-1: #10101047;
  --wrapper-2: #1010107b;
  --shadow-bg: #101010a1;
  --shadow-2-bg: #101010cc;
  --primary-color-border: #163134;
  --danger-color: red;
  --primary-color: rgb(89, 244, 255);
  --primary-color-transparent-1: rgba(89, 244, 255, 0.593);
}
input::placeholder {
  color: #404040;
}
textarea::placeholder {
  color: #404040;
}
