* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}
/* Wall Paddings === 20px*/
/* border color ===  #252525*/
/* border radius === 8px */
/* gray ===  #909090*/

:root {
  --border-color: #252525;
  --very-light-color: #909090;
  --bg-color: #101010;
  --light-color: #181818;
  --dark-text: #404040;
  --mid-white-text: #707070;
  --primary-color: #00c1e4;
  --secondary-color-hover: #bababa;
  --secondary-color: #d1d1d1;
  --primary-color-darker: #009fbb;
}
input::placeholder {
  color: var(--dark-text);
}
textarea::placeholder {
  color: var(--dark-text);
}
body {
  background-color: #101010;
}

.link {
  text-decoration: none;
}
