.create-post {
  max-width: 1000px;
  padding: 40px 0px;
  margin: auto;
}
.create-post-title {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--light-border);
  padding: 10px;
  margin-bottom: 20px;
  transition: 0.2s;
  outline: none;
  font-size: 35px;
}
.create-post-title:focus {
  border-bottom: 2px solid var(--white-text);
}
.create-post-content {
  width: 100%;
  font-size: 20px !important;
}
.createPost-next-btn {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  margin: 30px 0px;
  color: black;
  padding: 10px 20px;
  float: right;
  border-radius: 8px;
  background-color: var(--secondary-color);
  font-size: 20px;
  transition: 0.2s;
}
.createPost-next-btn:hover {
  background-color: var(--secondary-color-hover);
}
/* quill rich text editor styles */
.ql-container {
  font-size: 20px;
}
.create-post-content {
  font-size: 22px !important;
}
.create-post-content > .ql-container > .ql-editor.ql-blank::before {
  color: var(--dark-text);
  font-size: 22px;
  font-style: normal;
}
